/*imports the google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*variables for this website*/
:root{
    --primary: #7a4b2e;
    --primary-tint: #aa7858;
    --primary-shade: #5d2e11;

    --light: #ffffff;
    --dark: #363029;
    
    --muted: #f8f6f5;
    --muted-tint: #f8f6f5;
    --muted-shade: #c8c6c5;
 
   --shadow-dark: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
   --shadow-light: 0 0.1rem 0.2rem 0.1rem rgba(255, 255, 255, 0.25);

}

/*CSS Reset*/
* {
    box-sizing: border-box;
    /* will force elements to scale from the border instead*/
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, Arial, sans-serif;

    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Noto Serif', serif;
   margin-bottom: 0.5rem;
}
/****************** colours ******************/
.bg-primary{ background-color: var(--primary);} /*var() looks for a variable*/
.bg-light{ background-color: var(--light);}
.bg-dark{ background-color: var(--dark);}
.bg-muted{ background-color: var(--muted);}

.text-primary{ color: var(--primary);}
.text-light{ color: var(--light);}
.text-dark{ color: var(--dark);}
.text-muted{ color: var(--muted);}
/****************** swatches ******************/
.swatches { 
    display: flex; /*oraganize children elements in a line*/
    gap: 1rem;
}
.swatch .swatch-value{ 

    aspect-ratio: 1/1;
    width: 4rem; /*em - root font size (16px) */
    border-radius: 100%;

    box-shadow: var(--shadow-dark)

}

.product-image .product-tag {
    background-color: var(--dark);
    color: var(--light);
    box-shadow: var(--shadow-light)

    padding: var(--space) var(--space-2)
    border-radius: var(--space-2);

    position: absolute;
    top: var(--space-2);
    left: var(--space-2);
}




.swatch .swatch-name {
    text-align: center;
}

.btn-primary [
    background-color: var(--primary);
    color: var(--light);
]

.btn-primary:hover {
    background-color: var(--primary-tint);

}
.btn-primary:active {
    background-color: var(--primary-shade);
}

.btn-secondary [
    background-color: var(--muted);
    color: var(--dark);
]

.btn-secondary:hover {
    background-color: var(--muted-tint);
}

.btn-secondary:active {
    background-color: var(--muted-shade);
}

.link {
    color: var(--primary);
    text-decoration:underline;
}

.link:hover {
    color: var(--primary-tint);
}
.link:active {
    color: var(--primary-shade);
}


/****************** Components ******************/

.product-image {
    position: relative;
    /* this will tell the product-tag to behave */
}

.product.image img {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;

    border: 4px solid var(--light);
    border-radius: var(--space);
}